<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.DataGrid.Full" version="6.5.18059.19030" targetFramework="net45" />
  <package id="Xceed.Wpf.Controls" version="6.5.18059.19030" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid" version="6.5.18059.19030" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.1" version="6.5.18059.19030" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.2" version="6.5.18059.19030" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.3" version="6.5.18059.19030" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.4" version="6.5.18059.19030" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.5" version="6.5.18059.19030" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.Views3D" version="6.5.18059.19030" targetFramework="net45" />
</packages>